<h2>Edit This Tweet</h2>
<form method="POST" action="/tweets/<%=@tweet.id%>">
  <input type="hidden" name="_method" value="patch">
  <textarea name="tweet[content]" rows="4" cols="50"><%=@tweet.content%></textarea>
  <br/>
  <input type="submit" value="Edit Tweet"/>
</form>
