<form method="POST" action="/signup">
  <label for="user[username]">Username:</label>
  <input name="user[username]" type="text"/>
  <label for="user[email]">Email:</label>
  <input name="user[email]" type="email"/>
  <label for="user[username]">Password:</label>
  <input name="user[password]" type="password"/>
  <input type="submit" value="Create User"/>
</form>
