<h2>Please, Log in </h2>
<form action="/login" method="POST">
  <label for="user[username]">Username:</label>
  <input id="username" type="text" name="user[username]"/>
  <label id="password" for="user[password]">Password:</label>
  <input type="user[password]" name="user[password]" type="password"/>
  <input id="submit" type="submit"/>
</form>
